{% extends "layouts/main_nav.html" %}

{% block title %}Inicio - ChatCSD{% endblock %}

{% block content %}
    <div class="success-message alert alert-success mt-4" style="display: none;">
        El formulario se ha enviado con éxito.
    </div>
    <h1 class="text-2xl font-semibold mb-4">Bienvenido al Home</h1>
    <!-- Contenido específico de la vista de inicio -->
    <div class="container mx-auto p-6">
        <div class="max-w-md mx-auto bg-white p-8 border rounded shadow-md">
            <h1 class="text-2xl font-semibold mb-4 text-center">ChatCSD</h1> <!-- Título agregado -->
            <form action="/new" method="POST">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="content">Ingrese un texto (máx. 100 letras)</label>
                    <textarea class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="content" name="content" placeholder="Ingrese un texto" maxlength="100" rows="4"></textarea>
                    <p class="text-gray-500 mt-1" id="char-count">0 / 100 caracteres</p>
                </div>                                        
                <div class="text-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const textarea = document.getElementById('content');
        const charCount = document.getElementById('char-count');
        
        textarea.addEventListener('input', function() {
            const currentLength = textarea.value.length;
            charCount.textContent = `${currentLength} / 100 caracteres`;
        });
    
        // Obtiene el elemento del mensaje de éxito
        const successMessage = document.querySelector('.success-message');
    
        // Oculta el mensaje de éxito al principio
        successMessage.style.display = 'none';
    
        // Agrega una verificación para el campo vacío al enviar el formulario
        const form = document.querySelector('form');
    
        form.addEventListener('submit', function(event) {
            if (textarea.value.trim() === '') {
                event.preventDefault(); // Evita que el formulario se envíe
                alert('El campo de contenido no puede estar vacío.');
            } else {
                // Muestra el mensaje de éxito
                successMessage.style.display = 'block';
    
                // Establece un temporizador para ocultar el mensaje después de 4 segundos
                setTimeout(function () {
                    successMessage.style.display = 'none';
                }, 4000);  // 4000 milisegundos (4 segundos)
            }
        });
    </script>
    
    
{% endblock %}
